.App {
  text-align: center;
}
.navBar{
  display:flex;
  justify-content: space-between;
  margin:1rem auto 0;
  width:20rem;
}
.navBar a{
 color: black;
}
.navBar a:hover{
  color: red;
 }
.formSection{
  background-color: rgb(63, 63, 63);
  padding: 1rem 0;
  margin: 1rem 0;
}
.formSection h2{
  color:white;
}
.formSection button{
  font-size:1.2rem;
}

.form{
  margin: 1rem 0;
  display:flex;
  flex-direction: column;
  margin: 1rem auto;
  align-items: center;
}
.input{
  height:2rem;
  width:15rem;
  margin:.7rem;
}
.buttonAdd{
  width:3rem;
  height:2rem;
  border-radius:8px;
}

.friendsList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.friend{
  background-color:rgb(215, 215, 215);
  box-shadow: 0 0 1rem 0;
  width:20rem;
  margin:1rem;
}
.deletePosition{
  display:flex;
  flex-direction: row-reverse;
  margin:.5rem;
}
.deletePosition button{
  color: red;
}